arrow==0.10.0
Django==1.11.29
django-admin-bootstrapped==2.5.7
django-admin-shortcuts==2.0.0
django-admin-tools==0.8.0
django-admin-view-permission==0.8
django-autocomplete-light==3.2.1
django-bootstrap3==8.2.1
django-chartjs==1.1
django-crispy-forms==1.6.1
django-crontab==0.7.1
django-extensions==1.7.8
django-flat-theme==1.1.4
django-fluent-dashboard==0.6.1
django-google-charts==0.1.1
django-qsstats-magic==0.7.2
django-sb-admin==0.3.7
django-smart-selects==1.5.2
django-suit==0.2.25
docutils==0.13.1
future==0.16.0
olefile==0.44
Pillow==5.3.0
psycopg2==2.7.6.1
python-dateutil==2.6.0
six==1.10.0
